body
  background: rgba(44,78,105,0.9)
  color: #041646
  font-family: 'Roboto', sans-serif

.navbar-fixed-top
  position: absolute

.navbar-brand
  height: auto
  .logo
    max-width: 125px

.navbar-right
  font-weight: bold
  a
    color: #041646
    font-size: 16px
    &:hover
      background-color: none
    &:active
      background-color: none
    &:focus
      background-color: none
.nav
  li
    a:hover
      background-color: transparent
.icon-bar
  background: white
  box-shadow: 0 0 6px black

.jumbotron
  min-height: 700px
  background-image: url('../images/mountains.jpeg')
  background-size: cover
  overflow: hidden
  position: relative
  color: #fff
  margin-bottom: 0px
  padding-top: 100px
  .container
    padding-top: 10px
    background: rgba(0, 0, 0, 0.60)
  .page-title
    font-size: 50px
    padding: 10px 0 40px 0
  .mit-form-section
    .form-section-header
      background: black
      padding: 10px
    form
      background: #041646;
      padding: 10px
      text-align: left
  .center-img
    margin: auto




@media only screen and (max-width : 420px)
  .jumbotron
    .mobile-heading
      text-align: center
    .phone-image
      max-width: 500px
  .navbar-header
    background: rgba(0, 0, 0, 0.67)
    .logo
      max-width: 65px
  #navbar
    background: rgba(0, 0, 0, 0.67)
    li
      a
        color: white
        text-align: right
