body
  background: rgba(44,78,105,0.9)
  color: #041646
  font-family: 'Roboto', sans-serif

.navbar-fixed-top
  position: absolute

.navbar-brand
  height: auto
  .logo
    max-width: 125px

.navbar-right
  font-weight: bold
  a
    color: #041646
    font-size: 16px
    &:hover
      background-color: none
    &:active
      background-color: none
    &:focus
      background-color: none
.nav
  li
    a:hover
      background-color: transparent
.icon-bar
  background: white
  box-shadow: 0 0 6px black

.jumbotron
  min-height: 700px
  background-image: url('../images/backdrop.jpg')
  background-size: cover
  overflow: hidden
  position: relative
  color: #fff
  margin-bottom: 0px
  .mobile-heading
    display: block
    text-align: left
    color: #FFF
    text-shadow: 2px 2px 30px black
    h1
      font-size: 40px
  .phone-image
    position: absolute
  .container
    padding-top: 45px
  .mail-sign-up
    background: rgba(44, 78, 105, 0.9)
    border-radius: 6px
    text-align: center
    padding: 10px
    form
      text-align: left
  .download-links
    text-align: center
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 20px 0
    background: rgba(0, 0, 0, 0.25)
    p
      font-weight: bold
      text-shadow: 1px 1px black
    a
      display: inline-block
    .app-link
      display: inline-block
      text-align: center
      img
        padding: 10px
    .inactive-app-link

    img
      max-width: 165px
      margin: 0
      padding: 0
.info-section
  background: #dde7ef
  .section-title
    h3
      background: #405f77
      color: white
      padding: 20px 0
      margin-bottom: 20px
  .assist-box-wrapper
    background: #f7f7f7
    padding: 20px
    min-height: 255px
.about-section
  color: #041646
  padding: 20px 40px
  margin-bottom: 30px
.modal-header
  color: #041646
  font-weight: bold
  font-size: 18px
.modal-body
  color: black
  text-align: left
.large-icon
  font-size: 30px


@media only screen and (max-width : 420px)
  .jumbotron
    .mobile-heading
      text-align: center
    .phone-image
      max-width: 500px
  .navbar-header
    background: rgba(0, 0, 0, 0.67)
    .logo
      max-width: 65px
  #navbar
    background: rgba(0, 0, 0, 0.67)
    li
      a
        color: white
        text-align: right
